@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

html {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

body {
  margin: 0;
}

/*
Dark Mode
*/

html.dark {
  background-color: #020617;
  color: white;
}

/*
Light Mode
*/

html.light {
  background-color: #f8fafc;
  color: #0f172a;
}

/*
Smooth transitions
*/

* {
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}

/*
Scrollbar
*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #475569;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
